@include aoa-bg-series($bg__init,$classes_init);

.classes{
    &-s4{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}

.text{
    text-shadow: $text__shadow;
}

nav{
    z-index:10;
}

@media all and (max-width: 767px){
    .classes{
        &-s1,&-s2,&-s3{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
    }
    .contact{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
    }
    .gallery{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index,.location{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity: 0.8;
                }
                color: #fff !important;
            }
            background-color: #999!important;
            border: 1px solid #666!important;
            opacity: 0.9
        }
    }
}